# --- LangChain Core & Ecosystem ---
langchain
langchain-community
langgraph

# --- LLM Providers & Integrations ---
langchain-openai        # For OpenAI models (GPT-4o, etc.)
langchain-openrouter    # For OpenRouter routing
langchain-google-genai  # For Gemini models
langchain-groq          # For Groq cloud inference
langchain-ollama        # For running local models via Ollama

# --- Serach Tools for web search ---
tavily-python
langchain-tavily # this one was used 
google-search-results # used for serpAPI which is better for shopping search on the web 

# --- pytorch & cuda ---

# torch == 2.5.1
# torchvision == 0.20.1
# torchaudio == 2.5.1
# nvidia-cuda-runtime-cu11  # Adjust version as needed


#--- Database ---
langgraph-checkpoint-postgres "psycopg[binary,pool]"


# --- API Web Server Framework ---
fastapi[all]==0.100.0            # FastAPI including standard dependencies (pydantic, email-validator, etc.)
uvicorn                 # ASGI server to run the FastAPI app
python-dotenv
